<html>
  <style type="text/css">
    body{color:#efd;background:#453;padding:0 5em;margin:0}
    h1{padding:2em 1em;background:#675}
    h2{color:#bf8;border-top:1px dotted #fff;margin-top:2em}
    p{margin:1em 0}
  </style>
 
  <body>
    <h1>TiGer's blog</h1>
    {% if username != null %}
      <p><font color="#FF7F00">welcome {{username}} !</font>
        <a href="/blog/"><font color="#FF7F00">退出</font></a> </p>
    {% else %}
        <a href="/blog/regist/"><font color="#FF0000">注册</font></a>
        <a href="/blog/login/"><font color="#FF0000">登录</font></a>
    {% endif %}

    {% block content %}
    {% endblock %}

  </body>
</html>
